<template>
  <Layout>
    <content-header
      :image="$page.blog.image"
      :staticImage="false"
      :opacity="0"
    ></content-header>
    <!--main content-->
    <div class="container sm:pxi-0 mx-auto overflow-x-hidden">
      <div class="lg:mx-32 md:mx-16 sm:mx-8 mx-4">
        <section class="post-header container mx-auto px-0 mb-2 text-center">
          <h1 class="font-extrabold tracking-wider">
            {{ $page.blog.title }}
          </h1>
          <span class="tracking-wide text-md">
            <g-link class="" :to="$page.blog.category.path">{{
              $page.blog.category.title
            }}</g-link
            >&nbsp;&middot;&nbsp;
            <time :datetime="$page.blog.datetime">{{
              $page.blog.humanTime
            }}</time>
            &nbsp;&middot;&nbsp;
            {{ $page.blog.timeToRead }} min read
          </span>
        </section>
      </div>
      <div class="lg:mx-32 md:mx-16 px-4">
        <Sidebar :subtitles="subtitles"> </Sidebar>
        <section class="post-content container mx-auto relative">
          <div class="" v-html="$page.blog.content"></div>
        </section>
        <section class="post-tags container mx-auto relative py-10">
          <span>
            <g-link
              v-for="tag in $page.blog.tags"
              :key="tag.id"
              :to="tag.path"
              class="text-sm bg-transparent py-2 px-4 mr-2 border border-light0 dark:border-dark0 rounded-full"
              >{{ tag.title }}</g-link
            >
          </span>
        </section>
      </div>
    </div>
    <div
      class="border-t border-b border-light2 dark:border-dark2 bg-light2 dark:bg-dark2"
    >
      <div class="container mx-auto">
        <div class="lg:mx-32 md:mx-16 px-4 sm:px-0">
          <section class="container mx-auto">
            <div class="flex flex-wrap justify-center">
              <div class="w-full flex justify-center md:w-10/12 text-center">
                <div class="mb-2 sm:mb-0 w-full">
                  <div class="py-4 md:flex pl-0 self-center">
                    <g-link :to="$page.blog.author[0].path" class="px-4">
                      <g-image
                        :src="$page.blog.author[0].image"
                        class="border-light1 dark:border-dark1 w-24 md:w-24 mx-auto md:mx-0 md:mr-6 rounded-md"
                        alt="Author Image"
                      ></g-image>
                    </g-link>
                    <div class="text-center md:text-left">
                      <span>
                        <g-link :to="$page.blog.author[0].path" class=" ">
                          <h2 class="my-1 mt-2 md:mt-0">
                            {{ $page.blog.author[0].name }}
                          </h2>
                        </g-link>
                      </span>
                      <div v-if="authors.length > 0" class="post-authors pt-2">
                        Among with
                        <g-link
                          class="font-normal"
                          :to="author.path"
                          v-for="author in authors"
                          :key="author.name"
                          >{{ author.name }}</g-link
                        >
                      </div>
                      <div
                        class="font-light tracking-wider leading-relaxed py-4"
                      >
                        {{ $page.blog.author[0].bio }}
                      </div>
                      <div class="flex justify-center md:justify-start">
                        <a
                          :href="$page.blog.author[0].twitter"
                          target="_blank"
                          rel="noopener noreferrer"
                          class="hover:text-red-500 flex items-center"
                        >
                          Twitter
                          <twitter-icon size="2.5x" class="mx-2"></twitter-icon>
                        </a>
                        &nbsp;
                        <a
                          :href="$page.blog.author[0].linkedin"
                          target="_blank"
                          rel="noopener noreferrer"
                          class="hover:text-red-500 flex items-center"
                        >
                          Github
                          <github-icon size="2.5x" class="mx-2"></github-icon>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <section class="post-related pt-10" v-if="relatedRecords.length > 0">
      <div class="container mx-auto">
        <div class="text-center">
          <h4 class="font-light my-0">Recommended for you</h4>
        </div>
        <div class="flex flex-wrap justify-center pt-8 pb-8">
          <CardItem
            :record="relatedRecord.node"
            v-for="relatedRecord in relatedRecords"
            :key="relatedRecord.node.id"
          ></CardItem>
        </div>
      </div>
    </section>
  </Layout>
</template>

<script>
import Sidebar from '~/components/Partials/Sidebar.vue';
import CardItem from '~/components/Content/CardItem.vue';
import ContentHeader from '~/components/Partials/ContentHeader.vue';
import { sampleSize } from 'lodash';
import { GithubIcon, TwitterIcon } from 'vue-feather-icons';

export default {
  components: {
    Sidebar,
    CardItem,
    ContentHeader,
    TwitterIcon,
    GithubIcon,
  },
  metaInfo() {
    return {
      title: this.$page.blog.title,
      meta: [
        {
          name: 'description',
          content: this.$page.blog.excerpt,
        },
      ],
    };
  },
  computed: {
    authors() {
      let authors = [];
      for (let index = 1; index < this.$page.blog.author.length; index++) {
        authors.push({
          name: this.$page.blog.author[index].name,
          path: this.$page.blog.author[index].path,
        });
      }
      return authors;
    },
    relatedRecords() {
      return sampleSize(this.$page.related.edges, 2);
    },
    subtitles() {
      // Remove h1, h4, h5, h6 titles
      let subtitles = this.$page.blog.subtitles.filter(function (
        value,
        index,
        arr
      ) {
        return [2, 3].includes(value.depth);
      });
      return subtitles;
    },
  },
};
</script>

<page-query>
query($id: ID!, $tags: [ID]) {
  blog(id: $id) {
    title
    headings (depth: h1) {
      value
    }
    subtitles: headings {
      depth
      value
      anchor
    }
    path
    image(width:1600, height:800, blur:10)
    excerpt 
    content
    humanTime : created(format:"DD MMMM YYYY")
    datetime : created(format:"ddd MMM DD YYYY hh:mm:ss zZ")
    timeToRead
    tags {
      id
      title
      path
    }
    category {
      id
      title
      path
      belongsTo(limit:4) {
        totalCount
        edges {
          node {
            ... on Blog {
              title
              path
            }
          }
        }
      }
    }
    author {
      id
      name
      image
      path
      bio
      facebook
      twitter
      linkedin
    }
  }

  related: allBlog(
    filter: { id: { ne: $id }, tags: {containsAny: $tags} }
  ) {
    edges {
      node {
        title
    path
    image(width:1600, height:800)
    excerpt
    content
    humanTime : created(format:"DD MMMM YYYY")
    datetime : created(format:"ddd MMM DD YYYY hh:mm:ss zZ")
    featured
    timeToRead
    tags {
      id
      title
      path
    }
    category {
      id
      title
      path
      belongsTo(limit:4) {
        totalCount
        edges {
          node {
            ... on Blog {
              title
              path
            }
          }
        }
      }
    }
    author {
      id
      name
      image
      path
    }
      }
    }
  }
}
</page-query>

<style lang="scss"></style>
