<template>
  <Layout>
    <content-header
      :title="$page.tag.title"
      image="danil_silantev_F6Da4r2x5to.jpg"
    >
    </content-header>
    <div class="container mx-auto">
      <transition-group name="fade" class="flex flex-wrap my-4" tag="div">
        <CardItem
          v-for="{ node } of loadedPosts"
          :key="node.id"
          :record="node"
        />
      </transition-group>
      <ClientOnly>
        <infinite-loading @infinite="infiniteHandler" spinner="spiral">
          <div slot="no-more"></div>
          <div slot="no-results"></div>
        </infinite-loading>
      </ClientOnly>
    </div>
  </Layout>
</template>

<page-query>
  query($id: ID!, $page:Int) {
    tag(id: $id) {
      title
      path
      belongsTo(perPage: 6, page: $page, sortBy: "created") @paginate {
        totalCount
        pageInfo {
          totalPages
          currentPage
        }
        edges {
          node {
            ...on Blog {
              id
              title
              image(width: 800)
              path
              timeToRead
              featured
              humanTime: created(format: "DD MMM YYYY")
              datetime: created
              excerpt
              tags {
                id
                title
                path
              }
              category {
                id
                title
                path
              }
              author {
                id
                name
                image(width: 64, height: 64, fit: inside)
                path
              }
            }
          }
        }
      }
    }  
  }
</page-query>

<script>
import CardItem from "~/components/Content/CardItem.vue";
import ContentHeader from "~/components/Partials/ContentHeader.vue";

export default {
  components: {
    CardItem,
    ContentHeader
  },
  metaInfo() {
    return {
      title: this.$page.tag.title
    };
  },
  data() {
    return {
      loadedPosts: [],
      currentPage: 1
    };
  },
  created() {
    this.loadedPosts.push(...this.$page.tag.belongsTo.edges);
  },
  methods: {
    async infiniteHandler($state) {
      if (this.currentPage + 1 > this.$page.tag.belongsTo.pageInfo.totalPages) {
        $state.complete();
      } else {
        const { data } = await this.$fetch(
          `${this.$page.tag.path}${this.currentPage + 1}`
        );
        if (data.tag.belongsTo.edges.length) {
          this.currentPage = data.tag.belongsTo.pageInfo.currentPage;
          this.loadedPosts.push(...data.tag.belongsTo.edges);
          $state.loaded();
        } else {
          $state.complete();
        }
      }
    }
  }
};
</script>
