<template>
  <div class="w-full md:w-1/2 lg:w-1/3 px-2 mb-2">
    <div
      class="mb-1 post-card border-light1 dark:border-dark1 rounded-lg hover:shadow-xl z-100"
      :id="record.id"
    >
      <g-link :to="record.path" class="post-card-image-link">
        <div
          v-if="record.featured"
          class="absolute top-0 right-0 pr-4 pt-4 z-10"
        >
          <span
            class="p-1 relative block text-center text-xs leading-tight bg-dark2 border border-dark0 text-dark0 rounded-full"
          >
            <star-icon size="1.5x" class="custom-class"></star-icon>
          </span>
        </div>
        <g-image
          :src="record.image"
          :alt="record.title"
          class="post-card-image"
        ></g-image>
      </g-link>
      <!--content-->
      <div
        class="post-card-content bg-light2 dark:bg-dark2 h-full rounded-b-lg"
      >
        <div
          class="flex-col relative flex justify-between rounded-b-lg px-4 pb-4  "
        >
          <g-link :to="record.path">
            <h3 class="post-card-title tracking-wide">{{ record.title }}</h3>

            <p>{{ record.excerpt }}</p>
          </g-link>
          <ul class="flex my-4 dark:text-blue-200 text-blue-800">
            <li>
              <span>
                <g-link
                  class="bg-light3 dark:bg-dark3 p-2 mr-2 rounded-sm"
                  v-for="tag in record.tags"
                  :key="tag.id"
                  :to="tag.path"
                  >#{{ tag.title }}</g-link
                >
              </span>
            </li>
          </ul>
          <p class="text-sm">
            <span>
              <g-link :to="record.category.path">{{
                record.category.title
              }}</g-link>
            </span>
            &nbsp;&bull;&nbsp;
            <time :datetime="record.datetime">{{ record.humanTime }}</time>
            &nbsp;&bull;&nbsp;
            {{ record.timeToRead }} min read
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { StarIcon } from "vue-feather-icons";

export default {
  components: {
    StarIcon
  },
  props: {
    record: {}
  },
  computed: {
    authors() {
      let tooltipText = [];
      for (let index = 0; index < this.record.author.length; index++) {
        if (index == 0) {
          tooltipText.push(`Posted by ${this.record.author[index].name}`);
        } else {
          if (index == 1) {
            tooltipText.push(
              `<br> Among with ${this.record.author[index].name}`
            );
          } else {
            tooltipText.push(`, ${this.record.author[index].name}`);
          }
        }
      }

      return tooltipText.join("");
    }
  }
};
</script>

<style></style>
