<template>
  <Layout>
    <content-header title="Categories" image="danil_silantev_F6Da4r2x5to.jpg">
    </content-header>
  <ul class="flex justify-center">
      <li>
        <g-link
    class="text-lg bg-light3 dark:bg-dark3 dark-hover:bg-dark1 hover:bg-light1 py-2 px-4 mr-2 border border-light0 dark:border-dark0 rounded-full"
          :to="category.node.path"
          v-for="category in $page.categories.edges"
          :key="category.node.title"
          >{{ category.node.title }}</g-link
        >
      </li>
    </ul>
  </Layout>
</template>

<page-query>
  query {
    categories: allCategory {
      edges {
        node {
          id,
          title,
          path 
        }
      }
    }
  }
</page-query>

<static-query>
query {
  metadata {
    siteName
    siteDescription
  }
}
</static-query>

<script>
import ContentHeader from "~/components/Partials/ContentHeader.vue";

export default {
  components: {
    ContentHeader
  },
  metaInfo: {
    title: "Categories"
  }
};
</script>

<style scoped></style>
