<template>
  <Transition name="fade">
    <div
      v-if="showModal"
      class="fixed inset-0 w-full h-full overflow-y-auto overflow-x-hidden flex items-center justify-center dark:bg-dark2 bg-light2 z-1000"
      @click.self="close"
    >
      <div class="relative w-full h-full p-2">
        <button
          aria-label="close"
          class="absolute mr-8 right-0 text-xl border rounded-full dark:border-dark1 border-light1 text-dark3 dark:text-light3 hover:bg-light1 dark-hover:bg-dark1 hover:text-dark3 dark-hover:text-light3 h-8 w-8 md:h-12 md:w-12 focus:outline-none"
          @click.prevent="close"
        >
          <x-icon size="1.5x" class="md:mx-2"></x-icon>
        </button>
        <div class="mt-12 md:mt-16 overflow-y-auto">
          <slot />
        </div>
      </div>
    </div>
  </Transition>
</template>

<script>
import { XIcon } from "vue-feather-icons";

export default {
  components: {
    XIcon
  },
  props: {
    showModal: {
      required: true,
      type: Boolean
    }
  },
  methods: {
    close() {
      this.$emit("close");
    }
  }
};
</script>
