<template>
  <div>
    <div class="flex justify-center">
      <div class="search-results w-full">
        <div class="container mx-auto">
          <!--search bar-->
          <div class="flex flex-wrap items-stretch w-full mb-4 relative">
            <div class="flex">
              <span
                class="flex items-center leading-normal rounded rounded-r-none border border-r-0 border-gray-500 px-3 whitespace-no-wrap text-gray-400 dark:bg-gray-900 dark:text-gray-700 dark:border-gray-700"
              >
                <search-icon size="1.5x" class="custom-class"></search-icon>
              </span>
            </div>
            <input
              type="text"
              class="flex-shrink flex-grow flex-auto text-gray-700 dark:text-gray-600 leading-normal w-px flex-1 border h-12 text-xl md:h-16 md:text-3xl border-l-0 focus:outline-none focus:shadow-none border-gray-500 bg-light3 dark:bg-dark3 dark:border-gray-700 rounded rounded-l-none px-3 relative"
              placeholder="Search..."
              id="search"
              v-model="searchTerm"
            />
          </div>
          <!--results-->
          <div class="flex flex-wrap">
            <div
              class="py-2 px-2 sm:w-2/4 md:w-1/2 lg:w-1/3"
              v-for="resultEntry in searchResults"
              :key="resultEntry.id"
            >
              <g-link :to="resultEntry.path">
                <div
                  class="h-full flex items-start dark-hover:bg-dark1 hover:bg-light1 bg-light3 dark:bg-dark3 rounded-lg"
                >
                  <div class="flex-grow px-6">
                    <h2
                      class="tracking-widest text-xs title-font font-medium text-indigo-500 mb-1"
                    >
                      {{ resultEntry.node.category }}
                    </h2>
                    <h1
                      class="title-font text-xl font-medium text-gray-900 dark:text-gray-400 mb-3"
                    >
                      {{ resultEntry.title }}
                    </h1>
                    <p class="leading-relaxed mb-5 dark:text-gray-500">
                      {{ resultEntry.node.excerpt }}
                    </p>
                    <ul class="flex mb-5">
                      <li
                        v-for="item in resultEntry.node.tags"
                        class="leading-relaxed mx-2 text-indigo-500"
                      >
                        {{ item }}
                      </li>
                    </ul>
                  </div>
                </div>
              </g-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { SearchIcon } from "vue-feather-icons";

export default {
  components: {
    SearchIcon
  },
  data: () => ({
    searchTerm: ""
  }),
  computed: {
    searchResults() {
      const searchTerm = this.searchTerm;
      if (searchTerm.length < 3) return [];
      return this.$search.search({ query: searchTerm });
    }
  }
};
</script>

<style></style>
