<template>
  <div
    class="dark:bg-dark2 bg-light2 dark:text-dark0 text-light text-center text-md"
  >
    <div class="container mx-auto py-16">
      <div class="mb-4">
        <p>
          Copyright {{ new Date().getFullYear() }} by
          {{ $static.metadata.siteName }} &middot; Powered by
          <a href="https://www.gridsome.org" rel="noreferrer" target="_blank"
            >Gridsome</a
          >
        </p>
      </div>
      <div class="mb-4">
        <ul class="list-reset flex justify-center">
          <li
            v-for="socialItem in $static.metadata.social"
            :key="socialItem.name"
            class="px-4"
          >
            <a
              :href="socialItem.link"
              rel="noreferrer"
              target="_blank"
              :title="socialItem.name"
            >
              <github-icon size="1.5x" class="custom-class"></github-icon>
            </a>
          </li>
        </ul>
      </div>
      <div class="mb-4">
        <ul class="list-reset flex justify-center">
          <li
            v-for="navItem in $static.metadata.footerNavigation"
            :key="navItem.name"
            class="px-4"
          >
            <g-link
              :to="navItem.link"
              :title="navItem.name"
              v-if="navItem.external != true"
              >{{ navItem.name }}</g-link
            >
            <a
              :href="navItem.link"
              target="_blank"
              rel="noreferrer"
              :title="navItem.name"
              v-if="navItem.external == true"
              >{{ navItem.name }}</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import { GithubIcon } from "vue-feather-icons";

export default {
  components: {
    GithubIcon
  }
};
</script>

<static-query>
query {
  metadata {
    siteName

    social {
      name
      icon
      link
    }
  
    footerNavigation {
        name
        link
        external
    }
  }
}
</static-query>
