<template>
  <span>
    <a
      role="button"
      @click.prevent="openSearchModal()"
      aria-label="Open Search"
      title="Open Search"
    >
      <search-icon size="1.5x" class="custom-class"></search-icon>
    </a>
  </span>
</template>

<script>
import { SearchIcon } from 'vue-feather-icons';

export default {
  components: {
    SearchIcon,
  },
  methods: {
    openSearchModal() {
      this.$emit('openSearchModal');
    },
  },
};
</script>

<style></style>
